:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.custom-calendar-view .fc-resource {
  vertical-align: middle;
}
.custom-calendar-view .fc-timegrid-slot {
  background-color: rgba(255, 255, 255, 0.621);
  height: 60px;
}

.fc-timegrid-axis {
  height: 50px;
}

.header-btn {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.hdr-btn {
  border: none;
  outline: none;
  padding-block: 12px;
  background: transparent;
  box-shadow: none;
  border-radius: 0%;
}
.hdr-btn:hover {
  border: none !important;
  box-shadow: none;
}

.hdr-btn.active-btn {
  color: #1890ff !important;
  border-bottom: 2px solid #1890ff !important;
  background: transparent !important;
  box-shadow: none;
}
.staff-wrapper {
  width: 30%;
  margin: auto;
  input {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 2rem;
  }
}
.staff-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    border: 1px solid blue;
    outline: none;
    padding-block: 8px;
    padding-inline: 40px;
    color: blue;
  }
}
.new-Reservation-btn {
  border: 1px solid rgba(226, 226, 226, 0.681);
  display: flex;
  align-items: center;
  outline: none;
  width: 100%;
  padding: 2px;
  border-radius: 4px;
}

.new-Reservation-btn .icon {
  font-size: 20px;
  color: #1890ff;
  margin-right: 5px;
}

.color-box {
  width: 100%;
  height: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.color-box.red {
  background-color: red;
}

.color-box.blue {
  background-color: blue;
}

.color-box.green {
  background-color: green;
}

.color-box.yellow {
  background-color: yellow;
}

.color-box.purple {
  background-color: purple;
}

.stafMember {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding-inline: 12px;
}
.stafMember img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}


